<?php
require('ethos-includes.php');
CreatePage("Title!"); 
?>
<script>
$(document).ready(function() {
	(function CloudStrike(){
		var lightningImageSrcIndex = Math.floor(Math.random() * 4 + 1);
		$("#cloud").html('<img src="images/Lightning' + lightningImageSrcIndex + '.png" id="Lightning"/>');
		$("#cloud #Lightning").toggle("pulsate",{times: 5.5});
		strikeDuration = lightningImageSrcIndex * 1000 + 2000;
		setTimeout(CloudStrike,strikeDuration);
	})();
}); 


</script>


<div id="designPage">
<img src="images/denver-colorado-web-design.jpg" />
</div>


<div id="cloud">
<img src="" id="Lightning"/>
</div>


  
  